<style>

  .rwd-video {
      height: 0;
      overflow: hidden;
      padding-bottom: 56.25%;
      padding-top: 30px;
      position: relative;
  }
  .rwd-video iframe,
  .rwd-video object,
  .rwd-video embed {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
  }
  </style>

<section class=" has-text-centered  has-background-white-ter" id="about">
    <div class="hero-body">
      </div>
          <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <br>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">find us</a>

                        </div>
                        <div>
                            <a href="link_paper"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">paper</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>
